@import "../../../vars";
.search-right-btn {
  margin-left: 800px;
}

.rule-common {
  margin: 20px auto  0px;
}

.checkboxStyle{
  margin-top: 10px;
}
.opreate-style {
  padding: 0px 10px 0px 10px;
}
.DefinitionRuleTable{
  .ant-table{
    width: 100%;
  }
}
//添加规则模态框
//.modalAging, .details {
//  .modal-name {
//    @extend .rule-common;
//    margin-left: 100px;
//    .rule-name {
//      display: inline-block;
//      width: 300px;
//      margin-left: 10px;
//    }
//  }
//  .modal-type {
//    @extend .rule-common;
//    margin-left: 100px;
//  }
//  .modal-limit {
//    .modal-limit-left{
//      float: right;
//      width: 100px;
//      height: 30px;
//    }
//    @extend .rule-common;
//    margin-left: 100px;
//    .modal-limit-common {
//      margin-top: 20px;
//      margin-left: 20px;
//    }
//    .modal-limit-full {
//      display:inline-block;
//      @extend .modal-limit-common;
//      .modal-limit-full-cz {
//        color: red;
//        font-size: small;
//      }
//    }
//    .modal-limit-config {
//      margin-top: 20px;
//      .modal-limit-config-explain{
//        color:#23b8f6;
//        cursor: pointer;
//      }
//    }
//    .modal-limit-date {
//      @extend .modal-limit-common
//    }
//    .modal-limit-day {
//      @extend .modal-limit-common;
//      .modal-limit-day-start{
//         max-height: 100px;
//      }
//    }
//    .modal-limit-number {
//      @extend .modal-limit-common
//    }
//    .modal-limit-time {
//      @extend .modal-limit-common
//    }
//    .modal-limit-interval {
//      @extend .modal-limit-common;
//      .modal-limit-interval-set{
//        .details,.set{
//          color: #0066FF;
//          font-size: small;
//          cursor: pointer;
//        }
//      }
//    }
//    .modal-limit-ratio {
//      @extend .modal-limit-common;
//      .modal-limit-ratio-set{
//        .details,.set{
//          color: #0066FF;
//          font-size: small;
//          cursor: pointer;
//        }
//      }
//    }
//
//  }
//}


.modalAging{
  .modal-row{
    width: 750px;
    margin-bottom: 15px;
    .row-left {
      width: 150px;
    }
    .row-right {
      width: 400px;
    }
  }
}
.details{
  .modal-row{
    width: 450px;
    margin-bottom: 5px;
    .row-left {
      width: 130px;
    }
    .row-right {
      width: 300px;
    }
  }
}

.modalAging, .details {
  .modal-row {
    .row-left {
      display: inline-block;
      padding-right: 10px;
      text-align: right;
      line-height: 28px;
    }
    .conf-explain {
      font-weight: 500;
      font-size: 16px;
    }
    .row-right {
      display: inline-block;
      .rule-name {
        display: inline-block;
        width: 300px;
      }
      .modal-limit-config-explain {
        color: #23b8f6;
        cursor: pointer;
      }
      .modal-limit-interval-set {
        .details, .set {
          color: #23b8f6;
          font-size: small;
          cursor: pointer;
        }
      }
      .modal-limit-ratio-set {
        .details, .set {
          color: #23b8f6;
          font-size: small;
          cursor: pointer;
        }
      }
    }
  }
}

//分期间隔设置
.intervalSet,.intervalDetailsVisible{
  .ant-radio-button-wrapper {
       color: #000;
       background-color: #999;
     }
  .ant-radio-button-wrapper-checked {
    color: #000;
    background-color: $primary-color;
  }
  .checkBox{
    display: none;
  }
}

.startExplain,.limitConfigExplain{
  font-size: 12px;
  .title{
    margin-left: 0px;
  }
  p{
    margin-left: 15px;
    margin-bottom: 5px;
  }
}
//分期比例设置
.ratioSet{
  .ratioSet-div{
    margin:5px 100px;
    .ratioSet-input{
      width:50px;
    }
  }
}
