.org {
  width: 320px;
  display: inline-block;
  margin-bottom: 0px;
  height: 30px;
}
.org-item {
  display: inline-block;
  width: 180px;
  vertical-align: top;
  .ant-checkbox-group-item {
    line-height: 28px;
    display: block;
  }
}
.desc {
  display: inline-block;
  /*width: 140px;*/
  padding-right: 10px;
  text-align: right;
  line-height: 28px;
}