.tip-cover {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 99999;
	background-color: rgba(55,55,55,0.6);
	transition: all 2s ease;

	.tip-container {
		width: 3.6rem;
		height: 2.4rem;
		background: #fff;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 99999;
		transform: translate(-50%, -50%);
		text-align: center;
		font-size: 0.14rem;
		padding: 0.2rem 0.2rem;
	}
	.close-btn {
		position: absolute;
		top: 0;
		right: 0;
		width: 48px;
		height: 48px;
		line-height: 48px;
		cursor: pointer;
		color: rgba(0,0,0,0.43);
		&:hover {
			color: #444;
		}
	}
	.contents {
		margin-top: 0.3rem;
	}
}
