.add-modal-box01 {
  width: 715px !important;
  .ant-modal-body {
    padding: 0;
  }

  .add-group {
    margin: 10px 0 0 40px;

    h6.name {
      font-size: 16px;
      color: #333;
      font-weight: normal;
    }

    .add-row-group {
      margin-top: 10px;
      line-height: 35px;

      label.pull-left {
        width: 130px;
        text-align: right;
        font-size: 14px;
        color: #666;
      }

      input.ant-calendar-picker-input {
        height: 35px;
      }

      div.pull-left {
        line-height: normal;

        .ant-select-selection--single {
          height: 100%;
          .ant-select-selection__rendered {
            line-height: 35px;
          }
        }

        .ant-input-number-input {
          height: 32px
        }
      }
    }
  }
}