.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clear {
  clear: both;
}

.list-inline li {
  float: left;
}

em {
  font-style: normal;
}

.ant-radio-group {
  border: none;
}

.payment-apply-box {
  margin: 20px 10px 0;
  .column-title {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
    font-weight: normal;
  }

  .menu-switch-list {
    width: 10%;
    min-width: 130px;
    height: 320px;
    background-color: #f5f8fa;
    box-shadow: 0 0 4px rgba(0,0,0,.2);

    .menu-listed {
      li {
        width: 100%;
        height: 45px;
        text-align: center;
        line-height: 45px;
        font-size: 14px;
        cursor: pointer;
        color: #2e3133;
      }

      &-active {
        background-color: white;
        border-bottom: #e1e4e6 solid 1px;
        color: #23b8f6 !important;
      }
    }
  }

  .menu-content {
    width: 88%;

    &__top {
      height: 45px;
      line-height: 45px;

      .untreated {
        font-size: 14px;
        font-style: normal;
        color: #2e3133;

        &-number {
          font-size: 24px;
          color: red;
        }
      }

      .search-box {
        height: 32px;

        &__input {
          width: 325px;
          height: 32px;
        }

        &__button {
          width: 32px;
          height: 32px;
          margin-left: 15px;
          border-radius: 32px;
          text-align: center;
          font-size: 16px;
          line-height: 32px;
          color: white;
          border: #23b8f6 solid 1px;
          vertical-align: middle;
          background-color: #23b8f6;
        }
      }
    }

    .table-box {
      width: 100%;

      .ant-table {
        width: 100%;
        border: #e1e4e6 solid 1px;
        border-radius: 0;

        table {
          width: 101%;
        }
        
        &-thead > tr > th {
          font-size: 14px;
          color: #666;
          background: linear-gradient(to bottom, #f9fcfc, #e8eaeb);
        }

        &-tbody > tr {
          background-color: #fafcfc;

          td {
            padding: 14px 8px;
            font-size: 14px;
            color: #2e3133;

            .details {
              color: #23b8f6;
            }

            .handle-button {
              width: 60px;
              height: 28px;
              background-color: #23b8f6;
              border: #23b8f6 solid 1px;
            }
          }
        }

        &-tbody > tr:nth-child(2n) {
          background-color: #f2f4f5;
        }
      }
    }
  }
}

// 处理弹窗样式
.modal-box {
  .ant-modal-footer {
    text-align: center;
    border-top: none;
    
    button {
      width: 95px;
      height: 32px;
      margin-right: 16px;
    }

    button:first-of-type {
      background-color: #e1e4e6;
      color: #2e3133;
      border: #e1e4e6 solid 1px;
    }

    button:last-of-type {
      background-color: #23b8f6;
      color: white;
      border: #23b8f6 solid 1px;
    }
  }

  .handle-type__content {

    .refuse-input,
    .edit {
      display: block;
      margin-top: 15px;
    }
  }
}

.edit-modal-box {
  .ant-modal-header {
    text-align: center;
  }

  .edit-content {
    .edit-row {
      margin-top: 15px;
      line-height: 32px;
    }

    .payment-date {
      height: 32px;

      .ant-input {
        width: 136px;
        height: 32px;
      }
    }

    .payment-info {
      a {
        color: #111;
      }

      .anticon-caret-up {
        color: #aaacad;
        margin: 10px 0 0 5px;
        transition: .2s linear;
      }

      .transform-rotate {
        margin: 8px 0 0 5px;
        transform: rotate(180deg);
      }

      a:focus {
        text-decoration: none;
      }
    }

    .payment-drop {
      transition: .3s linear;
      height: 0;
      overflow: hidden;

      &__row {
        margin-bottom: 10px;
        font-size: 14px;

        .name {
          width: 120px;
          height: 32px;
          line-height: 32px;
          text-align: right;
          color: #5c6366;
        }

        .user-name {
          color: #2e3133;
          font-style: normal;
          line-height: 32px;
        }

        .radio-row {
          height: 32px;
          line-height: 32px;
        }
      }

      &__row::last-of-type {
        margin-bottom: 0;
      }
    }

    .payment-drop-active {
      height: auto;
    }
  }

  .ant-modal-body {
    padding-bottom: 0;
  }
}

.list-detail-box {
  width: 650px !important;
  overflow: hidden;
  border-radius: 5px;

  .ant-modal-header {
    padding: 0;
    height: 32px;
  }

  .ant-modal-close-x {
    height: 32px;
    line-height: 35px;
  }

  .modal-header {
    position: absolute;
    top: 0;
    left: 0;
    height: 31px;
    line-height: 30px;
    font-size: 14px;
    color: #2e3133;
    border-right: #d7dadb solid 1px;

    li {
      width: 115px;
      height: 32px;
      text-align: center;
      border-left: #d7dadb solid 1px;
      border-top: #d7dadb solid 1px;
      cursor: pointer;
      background: linear-gradient(to bottom, #f9fbfc, #e9ebec);
    }

    li.active {
      color: white;
      background: none;
      background-color: #23b8f6;
      border: #1fa3db solid 1px;
    }
  }

  .ant-modal-body {
    padding: 0;
    border-radius: 0 0 5px 5px;
  }

  .none {
    display: none;
  }

  .order-details {
    &__row {
      padding: 12px;

      .details-title {
        font-size: 14px;
        color: #2e3133;
      }

      .info-row {
        line-height: 30px;
        font-size: 14px;
        color: #5c6366;

        span {
          width: 115px;
          text-align: right;
        }

        em {
          width: 180px
        }
      }

      &-group {
        width: 50%;
      }
    }

    &__row:nth-child(2n-1) {
      background-color: #f5f8fa;
    }
  }

  .change-record {
    padding: 15px;

    .ant-table-fixed-header .ant-table-scroll .ant-table-header {
      overflow: visible;
      margin-bottom: 0px !important;
    }

    .ant-spin-container {
      border: #e1e4e6 solid 1px;
    }

    .ant-table-fixed-header > .ant-table-content > .ant-table-scroll > .ant-table-body {
      overflow-y: auto !important;
    }

    .ant-table-thead > tr > th {
      background: linear-gradient(to bottom, #f9fcfc, #e8eaeb);
    }

    .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
      color: #606466;
      padding: 12px 8px;
      border-bottom: none;
    }

    .ant-table-tbody > tr {
      background-color: #fafcfc;
    }

    .ant-table-tbody > tr:nth-child(2n) {
      background-color: #f2f4f5;
    }
  }

  .audit-record {
    max-height: 545px;
    padding: 15px;
    overflow-y: auto;

    &__box {
      padding-bottom: 15px;
      border-bottom: #e1e4e6 solid 1px;

      .record-group {
        margin-left: 10px;
        border-left: #e1e4e6 solid 2px;

        .record-row {
          margin: 0 0 40px 18px;
          line-height: 20px;

          img {
            margin-left: -28px;
          }

          &-info {
            span {
              margin-right: 15px;
              font-size: 14px;
              color: #5c6366;

              em {
                color: #2e3133
              }
            }

            span:last-of-type {
              margin-right: 0;
            }
          }
        }

        .record-row:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}

.menu-switch-top {
  margin-bottom: 20px;

  ul {
    display: inline-block;
    border: #d7dadb solid 1px;
    border-right: none;

    li {
      width: 95px;
      height: 32px;
      text-align: center;
      line-height: 32px;
      cursor: pointer;
      border-right: #d7dadb solid 1px;
      background: linear-gradient(to bottom, #f9fcfc, #e8eaeb);
    }

    li.active {
      border: #1fa3db solid 1px;
      color: white;
      background: none;
      background-color: #23b8f6;
    }
  }
}

.frozen-waring {
  text-align: center;
  font-size: 16px;
  color: #2e3133;
}

.modal-box.modal-wid {
  width: 460px !important;
}

.bg-red{
	color: red;
}