.content {
	margin-bottom: 1rem;
}

.img-box img {
	max-height: 3.75rem;
}

.intro {
	background-color: white;
}

.details-listed {
	margin-top: .2rem;
	background-color: white;
}

.details-listed li {
	height: .9rem;
	line-height: .9rem;
	padding: 0 3%;
	font-size: .3rem;
	color: #606060;
	border-bottom: #d9d9d9 solid 1px;
}

.details-listed li:last-of-type {
	border-bottom: none;
}

.details-listed li .list-group {
	width: 50%;
	height: 100%;
}

.details-listed li .list-group em {
	color: #ff9414;
}

.details-listed li .list-group:first-of-type {
	border-right: #d9d9d9 solid 1px;
}

.details-listed li .list-group:nth-child(2) {
	padding-left: 5%;
}

.intro-group {
	margin-top: .2rem;
	padding: .25rem;
	background-color: white;
}

.intro-group p {
	font-size: .3rem;
	color: #969696;
}