.my-account {

  .search-div {
    margin-top: 15px;
    .search-btn-style {
      margin-left: 10px;
    }
    .search-input-style {
      width: 220px;
    }
  }

  .add-card-style {
    border-radius: 5px;
    cursor: pointer;
    height: 180px;
    width: 330px;
    padding: 0.1rem;
    //border: solid 1px #13227a;
    margin: 0 15px 15px 0;
    float: left;
    box-shadow: 0 0 5px rgba(128,128,128,0.4);

    .add-card-tip {
      text-align: center;
      margin-top: 50px;
    }
  }
  .mt15 {
    margin-top: 15px;
  }
}