/*异常监控模块通用样式*/
.exception-monitor {

  .conditions {
    margin-top: 15px;
  }
  .desc {
    padding-right: 5px;
  }
  .item-wrapper {
    margin-right: 10px;
    margin-bottom: 15px;
    display: inline-block;
  }
  .org{
    width: 300px;
    .h-droplist {
      display: inline-block;
      border-radius: 4px;
      width: 200px;
      margin-left: 10px;
      float: left;
    }
  }
  .tab-op-btn {
    margin: 0 4px;
  }
}

/*未确认，未支付详情弹框样式*/
.confirm-detail {
  .info-row {
    border-bottom: solid 1px #ccc;
    padding-bottom: 5px;
    margin-bottom: 20px;
    overflow: hidden;
  }
  .info-block {
    display: inline-block;
    width: 50%;
    float: left;

    &>div {
      margin-left: 20px;
    }
  }
  .ant-modal-body {
    max-height: 5.5rem;
    overflow-y: auto;
  }
}
