// 日常业务模块通用样式

@import "../../../vars";

.conditions {
	margin-top: 15px;
}
.desc {
	padding-right: 5px;
}
.item-wrapper {
	margin-right: 10px;
	margin-bottom: 15px;
	display: inline-block;
}
.org{
	width: 300px;
	.h-droplist {
		display: inline-block;
		border-radius: 4px;
		width: 200px;
		margin-left: 10px;
		float: left;
	}
}
.tab-op-btn {
  margin: 0 4px;
	white-space: nowrap;
}

// 结算订单模块弹框通用样式
.settle-order-dialog {
	.pre-date {
		margin-top: 10px;
		height: 44px;
	}
	.show-more-info {
		margin-top: 10px;
	}
	.more-info {
		padding-top: 5px;
	}
	.row {
		margin-top: 5px;
		line-height: 28px;
		> .desc {
			display: inline-block;
			width: 110px;
			text-align: right;
			vertical-align: top;
		}
		> .row-item {
			display: inline-block;
		}
	}
}
// 结算订单模块详情弹框样式
.settle-order-detail {
	.ant-radio-button-wrapper {
		color: #000;
		background-color: #999;
	}
	.ant-radio-button-wrapper-checked {
		color: #000;
		background-color: $primary-color;
	}
	.info-line {
		//margin-top: 0.05rem;
	}
	.info-row {
		border-bottom: solid 1px #ccc;
		padding-bottom: 5px;
		margin-bottom: 20px;
		overflow: hidden;
	}
	.info-block {
		display: inline-block;
		width: 50%;
		float: left;

		&>div {
			margin-left: 20px;
		}
	}
	.ant-modal-body {
		max-height: 5.5rem;
		overflow-y: auto;
	}
}
.changeDetail{
	.changeRow{
		margin-top: 10px;
		.changeLeft,.changeRight{
			margin-left: 20px;
		}
	}

}


// 首付款确认模块通用样式
.payment-confirm {
	.conditions {
		margin-top: 20px;
		margin-bottom: 20px;
		padding-left: 30px;
	}
	.desc {
		padding-right: 5px;
	}
	.item-wrapper {
		margin-right: 10px;
		margin-bottom: 15px;
		display: inline-block;
	}
}
.type-icons-wrapper {
	/*padding-left: 34px;*/
	position: relative;
}
.type-icons {
	//width: 34px;
	width: 0;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0, -50%);
	font-weight: bold;
}
.order-type-icon {
	display: inline-block;
	width: 34px;
	height: 34px;
	float: left;
	line-height: 34px;
	text-align: center;
	vertical-align: top;
	background: url(../../../imgs/delay.png) center center no-repeat;

	&.freeze {
		background: url(../../../imgs/freeze.png) center center no-repeat;
		background-size: 100%;
	}
}
// 结算订单模块弹框通用样式
.payment-confirm-dialog {
	.row {
		margin-top: 5px;
		line-height: 28px;
		> .desc {
			display: inline-block;
			width: 120px;
			text-align: right;
			vertical-align: top;
		}
		> .row-item {
			display: inline-block;
		}
		&.bills {
			margin-top: 10px;
			> .row-item {
				max-width: calc(100% - 100px);
			}
		}
	}
	.pic-add {
		display: inline-block;
		width: 50px;
		height: 50px;
		line-height: 50px;
		font-size: 32px;
		color: #22b2e7;
		text-align: center;
		border: solid 1px #22b2e7;
		cursor: pointer;
	}
	.pic-thumb {
		width: 50px;
		height: 50px;
		display: inline-block;
		margin: 0 10px 10px 0;
		vertical-align: top;
		background-size: cover;
		position: relative;
		> .big-pic {
			position: absolute;
			top: 50px;
			width: 320px;
			height: 197.76px;
			background-size: cover;
			display: none;
			z-index: 5;
		}
		&:hover > .big-pic {
			display: block;
		}
		> .del-bill {
			position: absolute;
			top: -10px;
			right: -10px;
			width: 20px;
			height: 20px;
			line-height: 20px;
			text-align: center;
			background-color: #f77;
			color: #fff;
			border-radius: 10px;
			display: none;
			z-index: 5;
			cursor: pointer;
		}
		&:hover > .del-bill {
			display: block;
		}
	}
}

.bill-scan-mask {
	position: fixed;
	z-index: 1010;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.2);
}
.bill-scan-wrapper {
	position: absolute;
	top: 100px;
	right: 0;
	left: 0;
	text-align: center;

	> iframe {
		border: none;
		width: 800px;
		height: 360px;
	}
}

.payment-confirm-detail {
	.info-line {
		//margin-top: 0.05rem;
	}
	.info-row {
		border-bottom: solid 1px #ccc;
		padding-bottom: 5px;
		margin-bottom: 20px;
		overflow: hidden;
	}
	.info-block {
		display: inline-block;
		width: 50%;
		float: left;

		&>div {
			margin-left: 20px;
		}
	}
	.ant-modal-body {
		max-height: 5.5rem;
		overflow-y: auto;
	}
}

// 订单详情样式
.list-detail-box {
	width: 750px !important;
	overflow: hidden;
	border-radius: 5px;
  
	.pull-left {
	  float: left;
	}
  
	.pull-right {
	  float: right;
	}
	.list-inline>li{
	  float: left;
	}
	.clear {
	  clear: both;
	}
  .list-inline li {
	float: left;
  }
	.ant-modal-header {
	  padding: 0;
	  height: 32px;
	}
  
	.ant-modal-close-x {
	  height: 32px;
	  line-height: 35px;
	}
  
	.modal-header {
	  position: absolute;
	  top: 0;
	  left: 0;
	  height: 31px;
	  line-height: 30px;
	  font-size: 14px;
	  color: #2e3133;
	  border-right: #d7dadb solid 1px;
  
	  li {
		width: 115px;
		height: 32px;
		text-align: center;
		border-left: #d7dadb solid 1px;
		border-top: #d7dadb solid 1px;
		cursor: pointer;
		background: linear-gradient(to bottom, #f9fbfc, #e9ebec);
	  }
  
	  li.active {
		color: white;
		background: none;
		background-color: #23b8f6;
		border: #1fa3db solid 1px;
	  }
	}
  
	.ant-modal-body {
	  padding: 0;
	  border-radius: 0 0 5px 5px;
	}
  
	.none {
	  display: none;
	}
  
	.order-details {
	  &__row {
		padding: 12px;
  
		.details-title {
		  font-size: 14px;
		  color: #2e3133;
		}
  
		.info-row {
		  line-height: 30px;
		  font-size: 14px;
		  color: #5c6366;
  
		  span {
			width: 115px;
			text-align: right;
		  }
  
		  em {
			width: 180px
		  }
		}
  
		&-group {
		  width: 50%;
		}
	  }
  
	  &__row:nth-child(2n-1) {
		background-color: #f5f8fa;
	  }
	}
  
	.change-record {
	  padding: 15px;
  
	  .ant-table-fixed-header .ant-table-scroll .ant-table-header {
		overflow: visible;
		margin-bottom: 0px !important;
	  }
  
	  .ant-spin-container {
		border: #e1e4e6 solid 1px;
	  }
  
	  .ant-table-fixed-header > .ant-table-content > .ant-table-scroll > .ant-table-body {
		overflow-y: auto !important;
	  }
  
	  .ant-table-thead > tr > th {
		background: linear-gradient(to bottom, #f9fcfc, #e8eaeb);
	  }
  
	  .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
		color: #606466;
		padding: 12px 8px;
		border-bottom: none;
	  }
  
	  .ant-table-tbody > tr {
		background-color: #fafcfc;
	  }
  
	  .ant-table-tbody > tr:nth-child(2n) {
		background-color: #f2f4f5;
	  }
	}
  
	.audit-record {
	  max-height: 545px;
	  padding: 15px;
	  overflow-y: auto; 
  
	  &__box {
		padding-bottom: 15px;
		border-bottom: #e1e4e6 solid 1px;
  
		.record-group {
		  margin-left: 10px;
		  border-left: #e1e4e6 solid 2px;
  
		  .record-row {
			margin: 0 0 40px 18px;
			line-height: 20px;
  
			img {
			  margin-left: -28px;
			}
  
			&-info {
			  span {
				margin-right: 15px;
				font-size: 14px;
				color: #5c6366;
  
				em {
				  color: #2e3133
				}
			  }
  
			  span:last-of-type {
				margin-right: 0;
			  }
			}
		  }
  
		  .record-row:last-of-type {
			margin-bottom: 0;
		  }
		}
	  }
	}
  }