@import '~antd/dist/antd.css';

body,
ul {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei";
}

li {
  list-style: none;
}

.container {
  min-width: 1200px;
  margin: 0 auto;
}

.pull-left,
.list-inline li {
  float: left;
}

.pull-right {
  float: right;
}

i, em, dfn, cite {
  font-style: normal;
}

.clear {
  clear: both;
}

.load-box {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, .5);
}

.load-box.active {
  display: none;
  animation: showHide 1s ease-in-out 1;
  animation-fill-mode: forwards;
}

.load-box.active .move-img {
  display: none;
}

.move-img {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 60px;
  transform: translate(-50%, -50%);
  animation: moveImg 2s linear infinite;
}

@keyframes showHide {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}

@keyframes moveImg {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
