/* index.css www.webnotbook.com */

.main p {
	padding: 0;
	margin: 0 0 0 3em;
}

.main dt  {
	color: #454545;
}

.main dd ,
.main dt {
	margin:0 0 .6em 0;
}

.main dd {
	color: #999;
	padding:5px 10px;
	border: 1px solid #dedede;
	border-radius: 8px;
	line-height: 2em;
	cursor: text;
}

.main dd:hover  {
	color: #000;
	/*transform: scale(1.01);
	will-change:transform;
	transition: transform 0.3s ease 0s;
	-moz-transition:transform 0.3s ease 0s;
	-webkit-transition:transform 0.3s ease 0s;
	-o-transition:transform 0.3s ease 0s;*/
}