@import "../../../../vars";

.spot-order {
	.bg-red{
		//background-color: red;
		//border-radius: 3px;
		//padding: 5px;
		color: red;
	}

	>.tabs {
		margin-top: 20px;
		//border-bottom: solid 1px #ccc;
	}

	.type-icons-wrapper {
		/*padding-left: 34px;*/
		position: relative;
	}
	.type-icons {
		//width: 34px;
		width: 0;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(0, -50%);
		font-weight: bold;
	}
	.order-type-icon {
		display: inline-block;
		width: 34px;
		height: 34px;
		float: left;
		line-height: 34px;
		text-align: center;
		vertical-align: top;
		/*border: solid 1px $primary-color;
		border-radius: 50%;*/
		background: url(../../../../imgs/delay.png) center center no-repeat;
		/*transform: rotate(-45deg);*/

		&.freeze {
			background: url(../../../../imgs/freeze.png) center center no-repeat;
			background-size: 100%;
			/*color: #d92109;
			border-color: #d92109;*/
		}
	}
}

// 处理弹窗样式
.modal-box {
	.ant-modal-footer {
		text-align: center;
		border-top: none;

		button {
			width: 95px;
			height: 32px;
			margin-right: 16px;
		}

		button:first-of-type {
			background-color: #e1e4e6;
			color: #2e3133;
			border: #e1e4e6 solid 1px;
		}

		button:last-of-type {
			background-color: #23b8f6;
			color: white;
			border: #23b8f6 solid 1px;
		}
	}

	.handle-type__content {

		.refuse-input,
		.edit {
			display: block;
			margin-top: 15px;
		}
	}
}

.edit-modal-box {
	z-index:100;
	.ant-modal-header {
		text-align: center;
	}

	.ant-modal-body {
		padding-bottom: 0;
	}

	.edit-content {
		.edit-row {
			margin-top: 15px;
			line-height: 32px;
		}

		.payment-date {
			height: 32px;

			.ant-input {
				width: 136px;
				height: 32px;
			}
		}

		.payment-info {
			a {
				color: #111;
			}

			.anticon-caret-up {
				color: #aaacad;
				margin: 10px 0 0 5px;
				transition: .2s linear;
			}

			.transform-rotate {
				margin: 8px 0 0 5px;
				transform: rotate(180deg);
			}

			a:focus {
				text-decoration: none;
			}
		}

		.payment-drop {
			transition: .3s linear;
			height: 0;
			overflow: hidden;

			&__row {
				margin-bottom: 10px;
				font-size: 14px;

				.name {
					width: 120px;
					height: 32px;
					line-height: 32px;
					text-align: right;
					color: #5c6366;
				}

				.user-name {
					color: #2e3133;
					font-style: normal;
					line-height: 32px;
				}

				.radio-row {
					height: 32px;
					line-height: 32px;
				}
			}

			&__row:last-of-type {
				margin-bottom: 0;
			}
		}

		.payment-drop-active {
			height: auto;
		}
	}
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.clear {
	clear: both;
}