.payment-box {
    .search-box {

        .search-small-group {
            margin-right: 10px;

            span.name {
                color: #5c6366;
                line-height: 32px;
            }

            .date-style {
                width: 220px;
            }

            .section-group {
                span.pull-left {
                    line-height: 32px;
                    margin: 0 5px;
                }
            }

            .line-style {
                input {
                    height: 30px;
                }
            }

            .h-droplist {
                width: 128px;
                border-radius: 5px;
            }

            .dp-filter {
                margin-top: 10px;
            }

            .dp-filter + span {
                display: block;
                margin-top: 5px;
                margin-left: 190px !important;

                img {
                    vertical-align: middle; 
                }
            }

            .h-droplist .drop-i {
                line-height: 24px;
                padding-left: 30px;
            }

            .h-droplist .pointer {
                img {
                    vertical-align: middle;
                }
            }
        }

        .search-input-export {
            margin-top: 10px;

            .search-input {
                width: 80%;
            }

            .export {
                width: 72px;
                height: 32px;
            }
        }

        .ant-select-lg .ant-select-selection--single {
            height: 32px;
        }

        .ant-select-lg .ant-select-selection__rendered {
            line-height: 32px;
        }

        .ant-select-selection-selected-value {
            font-size: 14px;
        }

        .ant-input-lg {
            height: 32px;
            line-height: 20px;
            font-size: 14px;
            overflow: visible;
        }
    }
    
}