.transaction-box {
    padding: 20px;

    .search-group {
        .search-button {
            width: 32px;
            height: 32px;
            border-radius: 32px;
            text-align: center;
            font-size: 16px;
            line-height: 32px;
            color: #fff;
            vertical-align: middle;
        }
    }

}

.transactionModal{
    .transactionModal-row{
        width: 300px;
        margin: 15px  auto;
        //text-align: center;
        span{
            margin-right: 10px;
        }
    }
}