.add-trade-account {
  padding-top: 50px;

  .row {
    width: 500px;
    margin: auto;
    margin-bottom: 10px;
  }
  .desc {
    display: inline-block;
    width: 140px;
    padding-right: 10px;
    text-align: right;
    line-height: 28px;
  }
  .form-item {
    display: inline-block;
    width: 180px;
    vertical-align: top;
    .ant-checkbox-group-item {
      line-height: 28px;
      display: block;
    }
  }
  .adds {
    display: inline-block;
    width: 160px;
    padding-left: 10px;
    line-height: 28px;
  }
  .desc-End{
    
    height: 56px;
    float: left;
  }
  .button-style {
    margin: 0 auto;
    width: 500px;
    text-align: center;
    .quit-btn-style {
      margin: 0 0 0 20px;
    }
    .confirm-btn-style {
      margin: 0 20px 0 0;
    }
  }
  input[type=number] {
    -moz-appearance: textfield;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}