@import "../../../../vars";

.spot-order {
	.bg-red{
		//background-color: red;
		//border-radius: 3px;
		//padding: 5px;
		color: red;
	}

	>.tabs {
		margin-top: 20px;
		//border-bottom: solid 1px #ccc;
	}

	.type-icons-wrapper {
		/*padding-left: 34px;*/
		position: relative;
	}
	.type-icons {
		//width: 34px;
		width: 0;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(0, -50%);
		font-weight: bold;
	}
	.order-type-icon {
		display: inline-block;
		width: 34px;
		height: 34px;
		float: left;
		line-height: 34px;
		text-align: center;
		vertical-align: top;
		/*border: solid 1px $primary-color;
		border-radius: 50%;*/
		background: url(../../../../imgs/delay.png) center center no-repeat;
		/*transform: rotate(-45deg);*/

		&.freeze {
			background: url(../../../../imgs/freeze.png) center center no-repeat;
			background-size: 100%;
			/*color: #d92109;
			border-color: #d92109;*/
		}
		&.abnormal {
			background: url(../../../../imgs/abnormal.png) center center no-repeat;
			background-size: 100%;
		}
	}

	.abnormal-text {
		position: absolute;
		top: -20px;
		width: 300px;
		left: 80px;
		background: #fff;
		padding: 10px;
		z-index: 10;
		border: solid 1px #ccc;
	}
	tr:first-child .abnormal-text {
		top: -20px;
	}
	tr:last-child .abnormal-text {
		top: -40px;
	}
}