.Org-Css{
	display: inline-block;
	vertical-align: middle;
}
.org-h-droplist {
	.pointer{
		cursor: pointer;
	};
	width: 2rem;
	height: 0.3rem;
	border: solid 1px #ccc;
	position: relative;
	top: 0px;

	display: inline-block;
	border-radius: 4px;
	margin-left: 10px;
	float: left;

	> .cur-sel {
		height: 0.28rem;
		line-height: 0.28rem;
	}
	.cur-sel-text {
		float: left;
		width: calc(100% - 0.3rem);
		height: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.toggle-btn {
		float: left;
		display: inline-block;
		width: 0.3rem;
		height: 0.28rem;
		text-align: center;
		cursor: pointer;
		transition: transform 0.2s ease;
		&.expand {
			transform: rotate(180deg);
		}
	}
	> .dp-children {
		position: absolute;
		z-index: 5;
		top: 0.33rem;
		left: -1px;
		width: 3rem;
		max-height: 4rem;
		padding: 0 0.05rem;
		overflow: auto;
		background-color: #fff;
		box-shadow: 0 0 6px rgba(0,0,0,0.2);
		.org-cover{
			position:absolute;
			width: 90px;
			height: 25px;
			top: 30px;
			right: 0px;
			width: 90px;
			.org-cover-text{
				height: 23px;
				line-height:23px;
				margin-top: -29px;
				margin-left: 20px;
			}
		}
	}
	.dp-children {
		display: none;
		&.expand {
			display: block;
		}
	}
	.no-child{
		white-space: nowrap;
		margin-left: 30px;
		.no-child-text{
			margin-left: 5px;
			line-height: 19px;
			vertical-align: text-bottom;
		}
		&:hover{
			background-color:#eceef5;
		}
	}
	//.drop-label {
	//	white-space: nowrap;
	//	cursor: pointer;
	//	margin-left: 0.18rem;
	//	&:hover {
	//		background-color: #23b8f6;
	//	}
	//}
	.drop-f {
		.expand-btn{
			float: left;
		}
		> .dp-children {
			padding-left: 0.36rem;
		}
		> .expand-check {
			display: inline-block;
			float: left;
			width: 0.18rem;
			height: 0.28rem;
			text-align: center;
			cursor: pointer;
			width: 55px;
		}
	}
	.drop-label {
		height: 0.28rem;
	}
	//.drop-label:first-child{
	//	text-overflow:ellipsis;
	//	white-space: nowrap;
	//}

	.drop-i {
		width: 130px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin: 0.01rem 0 0.01rem 0.18rem;
		line-height: 20px;
		&.multi-seled {
			background-color: #ccc;
		}
	}
}